cycler==0.10.0
docopt==0.6.2
kiwisolver==1.0.1
numpy==1.15.2
Pillow==5.2.0
PyAutoGUI==0.9.38
PyMsgBox==1.0.6
pyobjc==5.0
pyobjc-core==5.0
pyobjc-framework-Accounts==5.0
pyobjc-framework-AddressBook==5.0
pyobjc-framework-AppleScriptKit==5.0
pyobjc-framework-AppleScriptObjC==5.0
pyobjc-framework-ApplicationServices==5.0
pyobjc-framework-Automator==5.0
pyobjc-framework-AVFoundation==5.0
pyobjc-framework-AVKit==5.0
pyobjc-framework-CalendarStore==5.0
pyobjc-framework-CFNetwork==5.0
pyobjc-framework-CloudKit==5.0
pyobjc-framework-Cocoa==5.0
pyobjc-framework-Collaboration==5.0
pyobjc-framework-ColorSync==5.0
pyobjc-framework-Contacts==5.0
pyobjc-framework-ContactsUI==5.0
pyobjc-framework-CoreAudio==5.0
pyobjc-framework-CoreAudioKit==5.0
pyobjc-framework-CoreBluetooth==5.0
pyobjc-framework-CoreData==5.0
pyobjc-framework-CoreLocation==5.0
pyobjc-framework-CoreMedia==5.0
pyobjc-framework-CoreMediaIO==5.0
pyobjc-framework-CoreML==5.0
pyobjc-framework-CoreServices==5.0
pyobjc-framework-CoreSpotlight==5.0
pyobjc-framework-CoreText==5.0
pyobjc-framework-CoreWLAN==5.0
pyobjc-framework-CryptoTokenKit==5.0
pyobjc-framework-DictionaryServices==5.0
pyobjc-framework-DiscRecording==5.0
pyobjc-framework-DiscRecordingUI==5.0
pyobjc-framework-DiskArbitration==5.0
pyobjc-framework-DVDPlayback==5.0
pyobjc-framework-EventKit==5.0
pyobjc-framework-ExceptionHandling==5.0
pyobjc-framework-ExternalAccessory==5.0
pyobjc-framework-FinderSync==5.0
pyobjc-framework-FSEvents==5.0
pyobjc-framework-GameCenter==5.0
pyobjc-framework-GameController==5.0
pyobjc-framework-GameKit==5.0
pyobjc-framework-GameplayKit==5.0
pyobjc-framework-ImageCaptureCore==5.0
pyobjc-framework-IMServicePlugIn==5.0
pyobjc-framework-InputMethodKit==5.0
pyobjc-framework-InstallerPlugins==5.0
pyobjc-framework-InstantMessage==5.0
pyobjc-framework-Intents==5.0
pyobjc-framework-IOSurface==5.0
pyobjc-framework-iTunesLibrary==5.0
pyobjc-framework-LatentSemanticMapping==5.0
pyobjc-framework-LaunchServices==5.0
pyobjc-framework-libdispatch==5.0
pyobjc-framework-LocalAuthentication==5.0
pyobjc-framework-MapKit==5.0
pyobjc-framework-MediaAccessibility==5.0
pyobjc-framework-MediaLibrary==5.0
pyobjc-framework-MediaPlayer==5.0
pyobjc-framework-MediaToolbox==5.0
pyobjc-framework-ModelIO==5.0
pyobjc-framework-MultipeerConnectivity==5.0
pyobjc-framework-NetFS==5.0
pyobjc-framework-NetworkExtension==5.0
pyobjc-framework-NotificationCenter==5.0
pyobjc-framework-OpenDirectory==5.0
pyobjc-framework-OSAKit==5.0
pyobjc-framework-Photos==5.0
pyobjc-framework-PhotosUI==5.0
pyobjc-framework-PreferencePanes==5.0
pyobjc-framework-PubSub==5.0
pyobjc-framework-QTKit==5.0
pyobjc-framework-Quartz==5.0
pyobjc-framework-SafariServices==5.0
pyobjc-framework-SceneKit==5.0
pyobjc-framework-ScreenSaver==5.0
pyobjc-framework-ScriptingBridge==5.0
pyobjc-framework-SearchKit==5.0
pyobjc-framework-Security==5.0
pyobjc-framework-SecurityFoundation==5.0
pyobjc-framework-SecurityInterface==5.0
pyobjc-framework-ServiceManagement==5.0
pyobjc-framework-Social==5.0
pyobjc-framework-SpriteKit==5.0
pyobjc-framework-StoreKit==5.0
pyobjc-framework-SyncServices==5.0
pyobjc-framework-SystemConfiguration==5.0
pyobjc-framework-VideoToolbox==5.0
pyobjc-framework-Vision==5.0
pyobjc-framework-WebKit==5.0
pyparsing==2.2.1
PyScreeze==0.1.18
python-dateutil==2.7.3
PyTweening==1.0.3
six==1.11.0
